<div class="wrapper">
    <h3>Hi 👋! My name is</h3>
    <h1>Abel Roinsard</h1>
    <h2>and I'm a 🇫🇷 software engineer and artist.</h2>
    <h3>Looking forward to working with you!</h3>
    <h4>Find me here:</h4>
    <div class="buttons">
        <app-button src="assets/linkedin.jpg" href="https://www.linkedin.com/in/abel-roinsard" borderColor="#17A5D0"></app-button>
        <app-button src="assets/github.jpg" href="https://github.com/kaitomomotta" borderColor="#6D5CEF"></app-button>
        <app-button src="assets/mail.jpg" href="mailto:abelroinsard@gmail.com" borderColor="#FFDA4D"></app-button>
        <app-button src="assets/instagram.jpg" href="https://www.instagram.com/abel.art_" borderColor="#FF4C54"></app-button>
        <app-button src="assets/spotify.jpg" href="https://open.spotify.com/user/abroins?si=312572a6eafc453c" borderColor="#47DBC6"></app-button>
    </div>
    <h4>or:</h4>
    <app-cv-button text="check out my CV" href="/assets/cvabel2024v2.pdf"></app-cv-button>
</div>
